<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
  </div>

  <script src="https://unpkg.com/vue@next"></script>
  <script>
    const app = Vue.createApp({
      data(){
        return {
          attr : "alt",
          img: "https://i.ytimg.com/vi/In1UrELqqEo/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLByBv40vDOUJKRXa75lZsW_PlzbeQ",
          counter:0,
          env: "submit", 
          text: 'Puerta cerrada',
          firstName: 'Jose',
          lastName: 'Morales',
          now: new Date(),
          open: false,
          username: "",
          posts:[{
            title: "Titulo 1",
            description: "Bla bla bla..."
          },
          {
            title: "Titulo 2",
            description: "Bla bla bla..."
          },
          {
            title: "Titulo 3",
            description: "Bla bla bla..."
          }]
        }
      },
      methods:{
        //Aquí se definen todas los métodos (funciones) a utilizar

        increment(){
          this.counter += 1
        },
        submit(e){
          this.counter++
        },
       
        input(e){
          this.text = e.target.value
        }
      },
      computed:{
        fullName(){
          return this.firstName + ' ' + this.lastName
        },
        today(){
          return this.now.toLocaleDateString()
        },
        label(){
          return this.open ? "Cerrar Puerta" : "Abrir Puerta"
        },
        styles(){
          return this.open ? ['open'] : ['close']
        }
      },
      watch:{
        open(value){
          if(value){
            this.text = 'Sesión abierta'
            //this.styles.backgroundColor="green" 
          } else{
            this.text = 'Sesion cerrada'
            //this.styles.backgroundColor="red"
            this.username= ""
          }
        }
      },
      template: ` 
      <div>
        <p>{{ today }}</p>
        <p>
          {{ fullName }}
        </p>
      </div>
      <br>
      <br>
      <input type="text" v-model="text">
      <br>
      
      <img v-bind:[attr]="img" v-bind:alt="img"> 
      
      <br>
      <br>
      
      <button v-on:click="increment">
        {{counter}}
      </button> 

      <br>
      <br>

      <form v-on:[env].prevent="submit">
        <button >
          {{counter}}
        </button> 
      </form>
      
      <!--Componente-->
      <reto />

      <br>
      <div class="head">
        <h2 class="text" :class="styles">
          {{text}}
        </h2>
        <button @click="open = !open">
          <p v-if="!open">Entrar</p>
          <p v-else>Salir</p>
        </button>
      </div>

      <div v-if="open" class="head-content">
        <p>Hola, {{username}}</p>
        <div class="list">

          <item 
            v-for="(item, i) in posts" 
            :key="i"
            :post="item" 
          />

        </div>

      </div> 
      <div v-else class="head">
        <label>Username</label>
        <input type="text" v-model="username">
      </div>

     
      `
    })
    
    app.component("item", {
      props:["post"],
      template: `
      <div class="item">
        <h3 class="title">{{post.title}}</h3
        <p class="content">{{post.description}}</p>
      </div>
      `
    })

    app.component("reto", {
      data(){
        return{
          count:5,
          env_reto:'click',
        }
      },
      methods:{
        aumentar(){
          this.count +=1
        },
        disminuir(){
          this.count -=1
        }
      },
      template: `
      <br>
      <br>
      <h3>Reto {{ count }} </h3>
      <button 
        v-on:[env_reto]="aumentar">
        Aumentar
      </button>
      <button 
        v-on:[env_reto]="disminuir">
        Disminuir
      </button>
      <br>
      <br>
      `
    })

    const vm = app.mount("#app")

  </script>
  <style>
    .head{
      display:flex;
      justify-content: center;
      align-items:center;
    }
    .text{
      color: white;
      border-radius:5px;
      padding:10px;
      width: 200px;
      text-align: center;
      margin-right:20px;
    }
    .open{
      background-color:#00b894;
    }
    .close{
      background-color:#d63031; 
    }
    .head-content{
      display:flex;
      justify-content:center;
      align-items:center;
      flex-direction:column;
    }
    .list{
      display:flex;
      justify-content:center;
      align-items:center;
      flex-direction:column;
    }
    .item{
      width:300px;
      border-radius:10px;
      background-color:#dfe6e9;
      margin-top:10px;
    }
  </style>
</body>
</html>